.movie-card {
	position: relative;
	width: 342px;
	background: white;
	margin: 25px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	border: 1px solid var(--blue);
}
.movie-card:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
}

.movie-card__btn-info {
	position: absolute;
	right: 8px;
	top: 484px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: var(--blue);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
.movie-card__btn-info .fas {
	color: white;
	font-size: 24px;
}
.movie-card__btn-info:hover,
.movie-card__btn-info:active {
	filter: brightness(120%);
}
.movie-card__btn-info:focus {
	outline: none;
}