@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,900&subset=cyrillic,cyrillic-ext');

:root {
	--main-background: #F8FAFB;
	--blue: #0bb5d0;
}

body {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--main-background);
	color: #212529;
}

.main {
	background-color: var(--main-background);
	padding: 10px;
}

input {
	outline: none;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	transition: border-color .3s;
	box-sizing: border-box;
	cursor: text;
	padding: 5px;
	font-size: 1.2em;
}
input:focus {
	border-color: var(--blue);
}
::placeholder {
	color: #b6b6b6;
}